@font-face {
    font-family: 'BYekan';/*تعریف یک نام برای فونت*/
    src: local('bYekan'), /*بررسی نصب بودن فونت در سیستم کاربر*/ local('b Yekan');
    font-style: normal;
    font-weight: normal;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: BYekan, Arial, Helvetica, sans-serif;;
}
body{
    background: #f2f2f2;
    overflow-x: hidden;

}




/*_________________________________________________________________________________________________*/
/*header*/

nav{
    background: #171c24;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0 100px;
    margin-bottom: 50px;

}

nav .logo{
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1px;
}

nav .nav-items{
    display: flex;
    flex: 1;
    padding: 0 0 0 40px;

}

nav .nav-items > li{
    list-style: none;
    padding: 0 15px;
}

nav .nav-items > li a{
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    transition: color .4s ease;
}

nav .nav-items > li a:hover {
    color: #26d63b;
}

nav form{
    display: flex;
    height: 40px;
    padding: 2px;
    background: #1e232b;
    min-width: 18%!important;
    border: 1px solid rgba(155,155,155,0.2);
    border-radius: 36px;
}

nav form .search-data{
    width: 100%;
    height: 100%;
    padding: 0 10px;
    color: #ffffff;
    font-size: 17px;
    border: none;
    font-weight: 500;
    background: none;
}

nav form button{
    padding: 0 15px;
    color: #ffffff;
    font-size: 17px;
    background: #26d63b;
    border: none;
    /*border-top-right-radius: 15px;*/
    /*border-bottom-right-radius: 15px;*/
    border-radius: 20px;
    cursor: pointer;
    transition: .2s all;

}

nav form button:hover {
    background: #26d63b;
}

nav .menu-icon, nav .cancel-icon, nav .search-icon{
    width: 40px;
    text-align: center;
    margin: 0 50px;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
    display: none;
}

nav .menu-icon i, nav .cancel-icon, nav .search-icon {
    display: none;
}


ul.sub-menu {
    display: none;
    position: absolute;
    list-style: none;
    padding: 10px;
    background-color: #171c24;
}

.dropdown:hover .sub-menu,
.dropdown.active .sub-menu{
    display: block;
}


@media (max-width: 1245px) {
    nav{
        padding: 0 50px;
    }
}

@media (max-width: 1140px) {
    nav{
        padding: 0;
    }
    nav .logo{
        flex: 2;
        text-align: center;
        font-size: 22px;
    }
    nav .nav-items{
        position: fixed;
        z-index: 99;
        top: 70px;
        width: 100%;
        left: -100%;
        height: 100%;
        padding: 10px 50px 0 50px;
        text-align: center;
        background: #14181f;
        display: inline-block;
        transition: left 0.3s ease;
    }
    nav .nav-items.active{
        left: 0;
    }
    nav .nav-items > li{
        line-height: 40px;
        margin: 30px 0;
    }
    nav .nav-items > li a{
        font-size: 20px;
    }
    nav form{
        position: absolute;
        top: 80px;
        right: 50px;
        opacity: 0;
        pointer-events: none;
        transition: top 0.3s ease, opacity 0.1s ease;
    }
    nav form.active{
        top: 95px;
        opacity: 1;
        pointer-events: auto;
    }
    nav form:before{
        position: absolute;
        content: '';
        top: -13px;
        right: 0;
        width: 0;
        height: 0;
        z-index: -1;
        border: 10px solid transparent;
        border-bottom-color: #1e232b;
        margin: -20px 0 0;
    }
    nav form:after{
        position: absolute;
        content: '';
        height: 60px;
        padding: 2px;
        background: #1e232b;
        border-radius: 2px;
        min-width: calc(100% + 20px);
        z-index: -2;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    nav .menu-icon{
        display: block;
    }
    nav .search-icon, nav .menu-icon i{
        display: block;
    }
    nav .menu-icon i.hide, nav .search-icon.hide{
        display: none;
    }
    nav .cancel-icon.show{
        display: block;
        color: #26d63b;
    }
}

@media (max-width: 980px) {
    nav .menu-icon, nav .cancel-icon, nav .search-icon{
        margin: 0 20px;
    }
    nav form{
        right: 30px;
    }
}

@media (max-width: 350px) {
    nav .menu-icon, nav .cancel-icon, nav .search-icon{
        margin: 0 10px;
        font-size: 16px;
    }
}

/*end header*/

/*_____________________________________________________________________________________________________________*/

/*footer*/

footer{
    /*position: absolute;*/
    /*bottom: 0;*/
    /*right: 0;*/
    /*left: 0;*/
    margin-top: 20px;
    background: #1e232b;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #ffffff;
    overflow-x: hidden;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 24px;
    font-size: 14px;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
    padding: 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #ffffff;
}

.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a:hover i{
    color: #26d63b;
}

.footer-bottom{
    background: #000000;
    width: 100vw;
    padding: 5px 0;
    text-align: center;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

.footer-bottom span a{
    text-decoration: none;
    color: #ffffff;
    transition: color .2s ease;
}

.footer-bottom span a:hover {
    color: rgb(38, 214, 59);
}

/*end footer*/
/*_____________________________________________________________________________________________________________*/



