{% extends 'base_temp/base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% trans 'Contact me' %}{% endblock %}

{% block section1 %}
    <br>
    <div class="home-center">
        <div class="home-desc-center">
            <div class="row justify-content-center">
                <div class="col">
                    <div class="login-page bg-white shadow rounded p-4">
                        <div class="text-center">
                            <h4 class="mb-4">{% trans "Come again. I'll miss you" %}</h4>
                        </div>
                    </div> <!--end col-->
                </div><!--end row-->
            </div> <!--end container-->
        </div>
    </div>
    <br>
{% endblock %}

