<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <style>
        body{
            text-align: center;
            border: 2px blue dotted;
            border-radius: 50px;
            margin: 5px;
            padding: 5px;
        }
        input{
            border: none;
            border-bottom: 5px solid rgba(255, 0, 0, 0.49);
        }
    </style>
</head>
<body>
<form method="post">
    {% csrf_token %}
    <label for="username">Username:</label>
    <input type="text" id="username" name="username"><br><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password"><br><br>
    <input type="submit" value="Submit">

</form>

</body>
</html>