{% extends 'base_temp/base.html' %}
{% load i18n static %}

{% block title %}{% trans 'Profile' %}{% endblock %}


{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'customer_st/profile.css' %}">{% endblock %}

{% block section1 %}
    <div class="col">
        <div class="row">
            <div class="nav">
                <li><a href="#">{% trans 'Main Info' %}</a></li>
                <li><a href="#">{% trans 'Update Info' %}</a></li>
                <li><a href="#">{% trans 'Change Password' %}</a></li>
                <li><a href="#">{% trans 'Addresses' %}</a></li>
                <li><a href="#">{% trans 'Shopping History' %}</a></li>
                <li><a href="{% url 'customer:logout' %}">{% trans 'Logout' %}</a></li>

            </div>
        </div>
        <div class="row">
            <div class="information main-info">

            </div>
            <div class="information update-info">

            </div>
            <div class="information change-password">

            </div>
            <div class="information addresses">

            </div>
            <div class="information history">

            </div>
        </div>


    </div>
{% endblock %}

