{% extends 'customer_temp/base_dashboard.html' %}
{% load i18n static %}
{% load jalali_tags %}

{% block title %}{% trans 'Shopping History' %}{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static "order_st/basket_cart.css" %}">
{% endblock %}

{% block dashboard %}
    <main class="container my-4" id="cartList" style="border: 3px solid #26d63b; border-radius: 50px">
        <center><h1 style="font-style: italic; color: #26d63b; margin-top: 20px">{% trans 'Shopping History' %}</h1>
        </center>
        <hr style="border: 1px solid #26d63b; color: #26d63b">
        <!-- Featured Products -->

        {% if order.count %}
            {#            <h3 class="my-4 border-bottom pb-1">{% trans 'Total Addresses: ' %} *<span#}
            {#                    id="total_items">{{ address_list.count }}</span>*</h3>#}
            <center>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>{% trans 'Address' %}</th>
                        <th>{% trans 'Payment Type' %}</th>
                        <th>{% trans 'Purchase Date' %}</th>
                        <th>{% trans 'Details' %}</th>
                    </tr>
                    </thead>


                    <tbody id="tbody">
                    {% for o in order %}
                        <tr class="tr">

                            <td>
                                <p>{{ o.address }}</p>
                            </td>

                            <td>
                                {% if o.payment_type == 'O' %}
                                    <p>{% trans 'Online' %}</p>
                                {% else %}
                                    <p>{% trans 'Card (In-person payment)' %}</p>
                                {% endif %}
                            </td>

                            <td>
                                <p>{{ o.modify_timestamp|to_jalali:'%Y/%m/%d' }}</p>
                            </td>

                            <td>
                                <a href="{% url 'customer:shopping_details' o.id %}">{% trans 'More...' %}</a>
                            </td>

                        </tr>
                    {% endfor %}
                    </tbody>

                </table>

            </center>
        {% else %}

            <center>
                <div><br>
                    <h4>{% trans '" You have no delivered orders yet "' %}</h4><br>
                    <a href="{% url 'landing_view' %}">
                        <button style="margin: 10px 10px 20px 20px; float: right; border: none; font-size: 1rem;
                        color: rgba(6,172,26,0.83); border-bottom: 3px solid #26d63b;">
                            {% trans 'Buy something' %}</button>
                    </a>
                </div>
            </center>

        {% endif %}

    </main>
{% endblock %}