{% extends 'customer_temp/base_dashboard.html' %}
{% load i18n %}

{% block title %}{% trans 'Update Information' %}{% endblock %}

{% block dashboard %}
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <center>
                <form id="form" method="post" class="form-control" style="background-color: rgba(0,0,0,0.21)">{% csrf_token %}
                    {{ form.as_p }}
                    <input type="button" id="btn" value={% trans "Update" %} ; style="margin: 5px 5px 20px;border: none;
             color: rgba(6,172,26,0.83); border-bottom: 3px solid #26d63b; padding: 5px">
                </form>
            </center>
        </div>
        <div class="col-3"></div>
    </div>


    <script>
        console.log('salam')
        $('#btn').on('click', function () {
            $.ajax({
                'url': "{% url 'customer:update_info' user.id %}",
                'type': "post",
                'data': $('#form').serialize(),
                success: function (resp, stat) {
                    console.log(stat)
                    console.log($('#form').serialize())
                    alert('Your information changed successfully')
                }
            })
        })
    </script>

{% endblock %}

