{% extends 'base_temp/base.html' %}
{% load static i18n %}

{% block title %}{% trans 'Product detail' %}{% endblock %}

{% block extrahead %}{% endblock %}

{% block section1 %}
    <center>
        <div class="row">
            <div class="col">
                <img src="{{ product.image.url }}" alt=""
                     style="height: 450px; width: 350px; border-radius: 8px; margin: 5px auto">
            </div>
        </div>
        <div class="row">
            <div class="col" style="margin: 10px">
                <input type="number" value="1" min="1" class="form-control-sm"><a href="#" style="color: #26d63b"><i class="fa fa-shopping-basket"></i></a>
            </div>
        </div>

        <div class="row" style="">
            <div class="col-12 col-md-6">
                <h3>{% trans 'Product Name:' %} {{ product.name }}</h3>
                {% if product.discount %}
                    <p style="color: red; text-decoration: line-through; font-size: 15px">{% trans 'Product Price:' %} {{ product.price }}000</p>
                    <p>{% trans 'Product Discounted Price:' %} {{ product.final_price }}</p>
                {% else %}
                    <p>{% trans 'Product Price:' %} {{ product.final_price }}</p>
                {% endif %}
                {% if product.leftovers < 5 %}
                    <p style="color: red;">{% trans 'Leftovers:' %} {{ product.leftovers }}</p>
                {% endif %}
            </div>

            <div class="col-12 col-md-6">
                <p>{% trans 'Product Color:' %} {{ product.color }}</p>
                <p>{% trans 'Product Size:' %} {{ product.size }}</p>
                <p>{% trans 'Product Brand:' %} {{ product.brand }}</p>

            </div>

        </div>
        {% if product.description %}
            <div class="row">
                <div class="col">
                    <h3>{% trans 'Description' %}</h3>
                    <p>{{ product.description }}</p>
                </div>
            </div>
        {% endif %}
    </center>
{% endblock %}


